<html>
<head>
    <title>index</title>
    <style>
        input{
            margin: 5%;
            height: 5%;
            widht:10%;
            align-self: center;
        }
    </style>
</head>
<body bgcolor="#7fffd4">
<h1 align="center">Welcome to scrapers!!</h1>
<div align="center">
<input type="button" value="AMAZON" onclick="location.href = '{%  url 'amazon' %}';"><input type="button" value="FLIPKART" onclick="location.href = '{%  url 'flipkart' %}';"><input type="button" value="EBAY" onclick="location.href = '{%  url 'ebay' %}';">
</div>
</body>
</html>